.themeBtn {
  transform: rotate(0);
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  box-sizing: border-box;
  border:1px solid #000;
  &.dark {
    background: #000;
  }
  &:hover {
    transform: rotate(10deg);
  }
}