@import '~antd/dist/antd.less';
@font-size: 18px;
body,html,#root,.container {
  width: 100%;
  height: 100%;
  font-size: @font-size;
}


.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.menu {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.content-wrappper {
  display: flex;
  width: 100%;
  min-height: 100%;
  .left-content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    &>div:first-child{
      width: 100%;
    }
  }
  .right-content {
    display: none;
    width: 320px;
    overflow: hidden;
  }
}
.header-nav {
  li {
    display: inline-block;
    list-style: none;
    a {
      color: #333;
      &.active {
        color: blueviolet;
      }
    }
  }
}
@media (min-width: 768px){
  .container {
    width: 768px;
  }
  .menu {
    display: none;
  }
  .content-wrappper {
    .left-content {
      width: 100%;
    }
    .right-content {
      display: block;
    }
  }
}

@media (min-width: 992px){
  .container {
    width: 970px;
  }
  .menu {
    display: none;
  }
  .content-wrappper {
    .left-content {
      width: 100%;
    }
    .right-content {
      display: block;
    }
  }
}
