:root.dark {
  --bg-color: #282c35;
  --border-color: rgb(136, 136, 136);
  --content-bg-color: #282c35;
  --footer-bg-color: #353a46;
  --mian-text-coloe: #ffffffd9;
}

:root.light {
  --bg-color: #fff;
  --border-color: rgb(232, 231, 231);
  --content-bg-color: rgb(232, 231, 231);
  --footer-bg-color: #282c35;
  --mian-text-coloe: #000000d9;
}

.content {
  background-color: var(--content-bg-color);
  min-height: 500px;
}

.header {
  background-color: var(--bg-color);
  border-bottom-color: var(--border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
  height: 60px;
  position: relative;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: var(--footer-bg-color);
  border-top-color: var(--border-color);
  border-top-width: 1px;
  border-top-style: solid;
}

.left-content>div:first-child{
  background-color: var(--bg-color);
}